<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
	<title>Admin</title>
</head>
<body>
	
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand"><i class='bx bxs-smile icon'></i> AdminSite</a>
		<ul class="side-menu">
			<li><a href="#" class="active"><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
			<li class="divider" data-text="main">Quick Access</li>
			
			<li><a href="#"><i class='bx bxs-chart icon' ></i> Dashboard</a></li>
			<li><a href="#"><i class='bx bxs-widget icon' ></i> Departements</a></li>
			<li><a href="#"><i class='bx bxs-widget icon' ></i> Members</a></li>
			<li><a href="#"><i class='bx bxs-widget icon' ></i> Events</a></li>
			
		</ul>
		<div class="ads">
			<div class="wrapper">
				<a href="#" class="btn-upgrade">Log Out</a>
			</div>
		</div>
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu toggle-sidebar' ></i>
			<form action="#">
				<div class="form-group">
					<input type="text" placeholder="Search...">
					<i class='bx bx-search icon' ></i>
				</div>
			</form>
			<!-- <a href="#" class="nav-link">
				<i class='bx bxs-bell icon' ></i>
				<span class="badge">5</span>
			</a>
			<a href="#" class="nav-link">
				<i class='bx bxs-message-square-dots icon' ></i>
				<span class="badge">8</span>
			</a> -->
			<span class="divider"></span>
			<div class="profile">
				<img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
				<ul class="profile-link">
					<li><a href="#"><i class='bx bxs-user-circle icon' ></i> Profile</a></li>
					<li><a href="#"><i class='bx bxs-cog' ></i> Settings</a></li>
					<li><a href="#"><i class='bx bxs-log-out-circle' ></i> Logout</a></li>
				</ul>
			</div>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<!-- <h1 class="title">Dashboard</h1>
			<ul class="breadcrumbs">
				<li><a href="#">Home</a></li>
				<li class="divider">/</li>
				<li><a href="#" class="active">Dashboard</a></li>
			</ul> -->
			<div class="info-data">
				<div class="card">
					<div class="head">
						<div>
							<h2>1500</h2>
							<p>Traffic</p>
						</div>
						<i class='bx bx-trending-up icon' ></i>
					</div>
					<span class="progress" data-value="40%"></span>
					<span class="label">40%</span>
				</div>
				
				<div class="card">
					<div class="head">
						<div>
							<h2>465</h2>
							<p>Pageviews</p>
						</div>
						<i class='bx bx-trending-up icon' ></i>
					</div>
					<span class="progress" data-value="30%"></span>
					<span class="label">30%</span>
				</div>
				<div class="card">
					<div class="head">
						<div>
							<h2>235</h2>
							<p>Visitors</p>
						</div>
						<i class='bx bx-trending-up icon' ></i>
					</div>
					<span class="progress" data-value="80%"></span>
					<span class="label">80%</span>
				</div>
			</div>
			<div class="data">
				<div class="content-data">
					<div class="head">
						<h3>Report and Statistics</h3>
						<div class="menu">
							<i class='bx bx-dots-horizontal-rounded icon'></i>
							<ul class="menu-link">
								<li><a href="#">Edit</a></li>
								<li><a href="#">Save</a></li>
								<li><a href="#">Remove</a></li>
							</ul>
						</div>
					</div>
					<div class="chart">
						<div id="chart"></div>
					</div>
				</div>
				
			</div>
			<section id="table">

				<div class="table-data">
					<div class="order">
						<div class="head">
							<h3>Members</h3>
							<i class='bx bx-search' ></i>
							<i class='bx bx-filter' ></i>
						</div>
						<table>
							<thead>
								<tr>
									<th>Full Name</th>
									<th>Email</th>
									<th>Departement</th>
									<th>School</th>
									<th>Year of Study</th>
									<th>Age</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for member in members %}
								<tr>
									<td>
										<img src="{{ url_for('static', filename='img/people.png') }}" alt="Your Image">
										<p>{{ member.memeberName }} {{ member.memeberLastName }}</p>
									</td>
									<td>{{ member.email }}</td>
									<td>{{ member.departement }}</td>
									<td>{{ member.departement }}</td>
									<td>{{ member.yearOfStudy }}</td>
									<td>{{ calculate_age(member.Dob) }}</td>
									<td>
										<a href="" class=""><i class='bx bx-edit-alt'></i></a>

										<form action="{{ url_for('delete_member', member_id=member.memberID) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this member?')">
											<button type="submit" class="delete-btn"><i class='bx bx-trash'></i></button>
										</form>
									</td>
									
									
									
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					
					<!-- TODOS WAS HERE -->
				</div>
			</section>
		</section>

		</main>
		<!-- MAIN -->
		
	</section>
	<!-- NAVBAR -->


	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>