<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/event.css') }}">
	<title>Events</title>
</head>
<body>
	
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand"><i class='bx bxs-smile icon'></i>Club scientific</a>
		<ul class="side-menu">
			<li><a href="#" class="active"><i class='bx bxs-dashboard icon' ></i> Departemetns</a></li>
			<li class="divider" data-text="main">Quick Access</li>
			
			<li><a href="{{ url_for('dashboard') }}"><i class='bx bxs-chart icon' ></i> Dashboard</a></li>
			<li><a href="#"><i class='bx bxs-widget icon' ></i> Departements</a></li>
			<li><a href="#"><i class='bx bxs-widget icon' ></i> Members</a></li>
			<li><a href="{{ url_for('event_management') }}"><i class='bx bxs-widget icon' ></i> Events</a></li>
			
		</ul>
		<div class="ads">
			<div class="wrapper">
				<a href="#" class="btn-upgrade">Log Out</a>
			</div>
		</div>
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu toggle-sidebar' ></i>
			<form action="#">
				<div class="form-group">
					<input type="text" placeholder="Search...">
					<i class='bx bx-search icon' ></i>
				</div>
			</form>
			<!-- <a href="#" class="nav-link">
				<i class='bx bxs-bell icon' ></i>
				<span class="badge">5</span>
			</a>
			<a href="#" class="nav-link">
				<i class='bx bxs-message-square-dots icon' ></i>
				<span class="badge">8</span>
			</a> -->
			<span class="divider"></span>
			<div class="profile">
				<img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
				<ul class="profile-link">
					<li><a href="#"><i class='bx bxs-user-circle icon' ></i> Profile</a></li>
					<li><a href="#"><i class='bx bxs-cog' ></i> Settings</a></li>
					<li><a href="#"><i class='bx bxs-log-out-circle' ></i> Logout</a></li>
				</ul>
			</div>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<!-- <h1 class="title">Dashboard</h1>
			<ul class="breadcrumbs">
				<li><a href="#">Home</a></li>
				<li class="divider">/</li>
				<li><a href="#" class="active">Dashboard</a></li>
			</ul> -->
		
			
			<ul class="box-info">
				<li class="total">
					<!-- <a href=""> -->
						<i class='bx bxs-group'></i>
						<span class="text">
							<h3>Total Members</h3>
							<p>150</p>
						</span>
					<!-- </a> -->
				</li>
				<li>
					<a href="">
						<i class='bx bxs-user-plus'></i>
						<span class="text">
							<h3>ADD Event</h3>
							
						</span>
					</a>
				</li>
				<li>
					<a href="">
					<!-- <button> -->
						<i class='bx bxs-user-x'></i>
						<span class="text">
							<h3>Delete Event</h3>
						
						</span>
					<!-- </button> -->
				</a>
				</li>
			</ul>
		
			{% for event in events %}
<section id="table">
    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>{{ event[1] }}</h3>
                <i class='bx bx-search'></i>
                <i class='bx bx-filter'></i>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Participant</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for participant in participants[event[1]] %}
                    <tr>
                        <td>
                            <img src="{{ url_for('static', filename='img/img.jpg') }}">
                            <p>{{ participant }}</p>
                        </td>
                        <td>
                            <i class='bx bx-edit-alt'></i>
                            <i class='bx bx-trash'></i>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endfor %}

			

		</main>
		<!-- MAIN -->
		
	</section>
	<!-- NAVBAR -->
	
<!-- footer -->
<footer class="footer">
	<div class="container">
	  <div class="row">
		<div class="footer-col">
		  <h4>Home</h4>
		  <ul>
			<li><a href="#">Dashboard</a></li>
			<li><a href="#">Departements</a></li>
			<li><a href="#">Members</a></li>
			<li><a href="#">Events</a></li>
		  </ul>
		</div>
		<div class="footer-col">
		  <h4>Links</h4>
		  <ul>
			<li><a href="#">Bejaia, Algeria</a></li>
			<li><a href="#">+1.555.555.5555 </a></li>
			<li><a href="#">support@company.com</a></li>
		  </ul>
		</div>
		<div class="footer-col">
		  <h4>About us</h4>
		  <ul>
			<li><a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit.  accusantium dicta praesentium veritatis earum, voluptatem excepturi necessitatibus dolores aut libero. Aperiam omnis excepturi tempora veniam ut delectus?</a></li>

		  </ul>
		</div>
		<div class="footer-col">
		  <h4>Siga</h4>
		  <div class="social-links">
			<a href="https://www.twitter.com" target="_blank"
			  ><i class="fa-brands fa-x-twitter"></i></a
			><!-- icone x (twitter) -->
			<a href="https://www.instagram.com" target="_blank"
			  ><i class="fab fa-instagram"></i></a
			><!-- icone instagram -->
			<a href="https://www.linkedin.com" target="_blank"
			  ><i class="fab fa-linkedin-in"></i></a
			><!-- icone linkedin -->
			<a href="https://www.github.com" target="_blank"
			  ><i class="fa-brands fa-github"></i></a
			><!-- icone github -->
		  </div>
		</div>
	  </div>
	</div>
  </footer>

  <!-- footer -->
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script src="{{ url_for('static', filename='js/event.js') }}"></script>
</body>
</html>